{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="{% static 'fairyfront/css/style.css' %}">
    <title>Fairy Nanny</title>
  </head>
  <body>
	<div>
		<!-- Navigation -->
		<nav class="navbar navbar-expand-lg navbar-dark static-top">
			<div class="container">
				<a class="navbar-brand" href="https://www.facebook.com/www.fairynanny.com.mx/">
					<img class="logofn1" src="{% static "fairyfront/images/logofn1.jpg" %}" alt="Logo Fairy Nanny">
				</a>
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link " href="#quienessomos">Quienes Somos</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " href="#servicios">Servicios</a>
					</li>
					<li class="nav-item nav nav-tabs">
						<a class="nav-link" href="#nannys">Nannies</a>
					</li>
					<li class="nav-item nav nav-tabs">
						<a class="nav-link" href="#contacto">Contacto</a>
					</li>
				</ul>
				<a class="navbar-brand" href="#">
					<img class="logofw1" src="{% static "fairyfront/images/logofw1.png" %}" alt="Logo Fairy World">
				</a>
			</div>
		</nav>

		<!--Carousel Wrapper-->
		<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
			<!--Indicators-->
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-example-2" data-slide-to="1"></li>
				<li data-target="#carousel-example-2" data-slide-to="2"></li>
			</ol>
			<!--/.Indicators-->
			<!--Slides-->
			<div class="carousel-inner" role="listbox">
				<div class="carousel-item active">
					<div class="view">
						<img class="d-block w-75" src="{% static "fairyfront/images/image_1.jpg" %}"
						alt="First slide">
						<div class="mask rgba-black-light"></div>
					</div>
					<div class="carousel-caption">
						<h3 class="h3-responsive"></h3>
						<p></p>
					</div>
				</div>
				<div class="carousel-item">
					<!--Mask color-->
					<div class="view">
						<img class="d-block w-75" src="{% static "fairyfront/images/image_2.jpg" %}"
						alt="Second slide">
						<div class="mask rgba-black-strong"></div>
					</div>
					<div class="carousel-caption">
						<h3 class="h3-responsive"></h3>
						<p></p>
					</div>
				</div>
				<div class="carousel-item">
					<!--Mask color-->
					<div class="view">
						<img class="d-block w-75" src="{% static "fairyfront/images/image_3.jpg" %}"
						alt="Third slide">
						<div class="mask rgba-black-slight"></div>
					</div>
					<div class="carousel-caption">
						<h3 class="h3-responsive"></h3>
						<p></p>
					</div>
				</div>
			</div>
			<!--/.Slides-->
			<!--Controls-->
			<a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Anterior</span>
			</a>
			<a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Siguiente</span>
			</a>
			<!--/.Controls-->
		</div>
		<!--/.Carousel Wrapper-->
		<div class="row howweareblock" id="quienessomos">
			<div class="col-sm-8">
				<h1 class="text-center">Quiénes Somos</h1>
				<p class="text-justify text-right text-secondary" >Hola! Soy <b>Marina Correa</b>. En 2007 cuando inicié la agencia tenía 19
					años y un equipo con muchas ideas y vocación. La agencia inició gracias a un
					Kinder en <span class="underline">Mérida</span> llamado <i>Alison Place</i> y
					a <span class="underline">4</span> amigas que junto conmigo
					<span class="underline">empezaríamos</span> un camino en el que
					<span class="underline">muchas más emprenderían</span> esta bella aventura.<br>
					<br>
					El objetivo de la agencia siempre ha sido darles a los niños todo nuestro
					cariño y <span class="underline">paciencia</span>, hacer todo lo posible para
					que su infancia sea sana y divertida, creo fielmente que para un mundo mejor
					debemos empezar con <span class="underline">nosotros</span>, debemos preservar
					la inocencia en los niños y cuidar sus <span class="underline">valores</span>
					y autoestima.<br>
					<br>
					Ahora que soy mamá de un niño y una niña es mi propósito seguir con esta tarea
					y jamás rendirme, ya que todos los niños se lo merecen.</p>
				</div>
				<div class="col-sm-4">
					<img class="roundedimg" src="{% static "fairyfront/images/bg_1.jpg" %}" class="rounded-circle" alt="Cinque Terre">
				</div>
			</div>

		<div class="container serviciosfn">
			<div class="jumbotron">
				<h1>Servicios</h1>
				<p> Nuestra meta es satisfacer las necesidades de cuidado y entretenimiento de las familias más preocupadas por el bienestar de sus hijos, por eso ofrecemos una gran variedad de servicios para cada ocasión y cada presupuesto. Si deseas orientación, podemos sugerirte el adecuado a tus necesidades. Si quieres más informacion da click <a href="#">aquí!</a></p>
			</div>
			<div class="row justify-content-center">
				<img src="{% static "fairyfront/images/logofn1.jpg" %}" class=" col-md-6 align-self-center rounded mx-auto d-block" alt="...">
			</div>
			<div class="row casasdiv">
				<div class="col"><hr></div>
				<div class="col-auto"><h1></h1>CASAS</div>
				<div class="col"><hr></div>
			</div>
		</div>


		<div class="tablaCasasParticulares modal bd-example-modal-xl fade" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl" id="tamañoModal">
				<div class="modal-content">
					<div class="container-fluid">
						<img src="{% static "fairyfront/images/kidsclubeventos.jpeg" %}" class="img-fluid" alt=""/>
					</div>
				</div>
			</div>
		</div>
		<div class="modal bd-example-modal-xl fade serviciosFijos" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl" id="tamañoModal">
				<div class="modal-content">
					<div class="container-fluid">
						<img src="{% static "fairyfront/images/kidsclubeventos.jpeg" %}" class="img-fluid" alt=""/>
					</div>
				</div>
			</div>
		</div>

		<div class="container servicios1">
			<div class="row">
				<div class="col">
					<div class="card colleftserv" style="width: 45rem;">
						<a><img class="card-img-top" data-toggle="modal" data-target=".serviciosFijos" src="{% static "fairyfront/images/course-1.jpg" %}" alt="Card image cap"></a>
						<div class="card-body">
							<p class="card-text">Casas Particulares.</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card colleftserv"  style="width: 45rem;">
						<a><img class="card-img-top" data-toggle="modal" data-target=".tablaCasasParticulares" src="{% static "fairyfront/images/course-1.jpg" %}" alt="Card image cap"></a>
						<div class="card-body">
							<p class="card-text">Servicios Fijos.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal bd-example-modal-xl fade servicioHostess" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl" id="tamañoModal">
				<div class="modal-content">
					<div class="container-fluid">
						<img src="{% static "fairyfront/images/kidsclubeventos.jpeg" %}" class="img-fluid" alt=""/>
					</div>
				</div>
			</div>
		</div>
		<div class="modal bd-example-modal-xl fade registro" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl" id="tamañoModal">
				<div class="modal-content">
					<div class="container-fluid">
						<img src="{% static "fairyfront/images/kidsclubeventos.jpeg" %}" class="img-fluid" alt=""/>
					</div>
				</div>
			</div>
		</div>

		<div class="container servicios1">
			<div class="row">
				<div class="col">
					<div class="card colleftserv"  style="width: 45rem;">
						<a ><img class="card-img-top" data-toggle="modal" data-target=".servicioHostess" src="{% static "fairyfront/images/course-3.jpg" %}" alt="Card image cap"></a>
						<div class="card-body">
							<p class="card-text">Servicio Hostess.</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card colleftserv"  style="width: 45rem;">
						<a><img class="card-img-top" data-toggle="modal" data-target=".registro" src="{% static "fairyfront/images/course-4.jpg" %}" alt="Card image cap"></a>
						<div class="card-body">
							<p class="card-text">Registro.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row visitaDiv">
				<div class="col"><hr></div>
				<div class="col-auto"><h1></h1>Visita</div>
				<div class="col"><hr></div>
			</div>
		</div>

		<div class="modal bd-example-modal-xl fade hoteleshaciendas" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl" id="tamañoModal">
				<div class="modal-content">
					<div class="container-fluid">
						<img src="{% static "fairyfront/images/kidsclubeventos.jpeg" %}" class="img-fluid" alt=""/>
					</div>
				</div>
			</div>
		</div>
		<div class="modal bd-example-modal-xl fade hotelesHHBB" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl" id="tamañoModal">
				<div class="modal-content">
					<div class="container-fluid">
						<img src="{% static "fairyfront/images/kidsclubeventos.jpeg" %}" class="img-fluid" alt=""/>
					</div>
				</div>
			</div>
		</div>

		<div class="container servicios1">
			<div class="row">
				<div class="col">
					<div class="card colleftserv"  style="width: 45rem;">
						<a><img class="card-img-top" data-toggle="modal" data-target=".hoteleshaciendas" src="{% static "fairyfront/images/course-3.jpg" %}" alt="Card image cap"></a>
						<div class="card-body">
							<p class="card-text">Hoteles, Haciendas, etc.</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card colleftserv"  style="width: 45rem;">
						<a><img class="card-img-top" data-toggle="modal" data-target=".hotelesHHBB" src="{% static "fairyfront/images/course-4.jpg" %}" alt="Card image cap"></a>
						<div class="card-body"></a>
							<p class="card-text">Hoteles Para HHBB.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal bd-example-modal-xl fade talleresActesp" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl" id="tamañoModal">
				<div class="modal-content">
					<div class="container-fluid">
						<img src="{% static "fairyfront/images/kidsclubeventos.jpeg" %}" class="img-fluid" alt=""/>
					</div>
				</div>
			</div>
		</div>
		<div class="modal bd-example-modal-xl fade English" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl" id="tamañoModal">
				<div class="modal-content">
					<div class="container-fluid">
						<img src="{% static "fairyfront/images/kidsclubeventos.jpeg" %}" class="img-fluid" alt=""/>
					</div>
				</div>
			</div>
		</div>

		<div class="container servicios1">
			<div class="row">
				<div class="col">
					<div class="card colleftserv"  style="width: 45rem;">
						<a><img class="card-img-top" data-toggle="modal" data-target=".talleresActesp" src="{% static "fairyfront/images/course-3.jpg" %}" alt="Card image cap"></a>
						<div class="card-body">
							<p class="card-text">Talleres y Act especiales.</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card colleftserv"  style="width: 45rem;">
						<a><img class="card-img-top" data-toggle="modal" data-target=".English" src="{% static "fairyfront/images/course-4.jpg" %}" alt="Card image cap"></a>
						<div class="card-body">
							<p class="card-text">English.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row fiestaDiv">
				<div class="col"><hr></div>
				<div class="col-auto"><h1></h1>De Fiesta</div>
				<div class="col"><hr></div>
			</div>
		</div>

		<div class="modal bd-example-modal-xl fade acompañmientoFiestas" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl" id="tamañoModal">
				<div class="modal-content">
					<div class="container-fluid">
						<img src="{% static "fairyfront/images/kidsclubeventos.jpeg" %}" class="img-fluid" alt=""/>
					</div>
				</div>
			</div>
		</div>
		<div class="modal bd-example-modal-xl fade hostess" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl" id="tamañoModal">
				<div class="modal-content">
					<div class="container-fluid">
						<img src="{% static "fairyfront/images/kidsclubeventos.jpeg" %}" class="img-fluid" alt=""/>
					</div>
				</div>
			</div>
		</div>

		<div class="container servicios1">
			<div class="row">
				<div class="col">
					<div class="card colleftserv" style="width: 45rem;">
						<a><img class="card-img-top" data-toggle="modal" data-target=".acompañmientoFiestas" src="{% static "fairyfront/images/course-3.jpg" %}" alt="Card image cap"></a>
						<div class="card-body">
							<p class="card-text">Acompañamiento a Fiestas.</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card colleftserv" style="width: 45rem;">
						<a><img class="card-img-top" data-toggle="modal" data-target=".hostess" src="{% static "fairyfront/images/course-4.jpg" %}" alt="Card image cap"></a>
						<div class="card-body">
							<p class="card-text">Hostess.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal bd-example-modal-xl fade babyClub" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl" id="tamañoModal">
				<div class="modal-content">
					<div class="container-fluid">
						<img src="{% static "fairyfront/images/kidsclubeventos.jpeg" %}" class="img-fluid" alt=""/>
					</div>
				</div>
			</div>
		</div>
		<div class="modal bd-example-modal-xl fade kidsClub" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl" id="tamañoModal">
				<div class="modal-content">
					<div class="container-fluid">
						<img src="{% static "fairyfront/images/kidsclubeventos.jpeg" %}" class="img-fluid" alt=""/>
					</div>
				</div>
			</div>
		</div>

		<div class="container servicios1">
			<div class="row">
				<div class="col">
					<div class="card colleftserv" style="width: 45rem;">
						<a><img class="card-img-top" data-toggle="modal" data-target=".babyClub" src="{% static "fairyfront/images/course-3.jpg" %}" alt="Card image cap"></a>
						<div class="card-body">
							<p class="card-text">Baby Club.</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card colleftserv" style="width: 45rem;">
						<a><img class="card-img-top" data-toggle="modal" data-target=".kidsClub" src="{% static "fairyfront/images/course-4.jpg" %}" alt="Card image cap"></a>
						<div class="card-body">
							<p class="card-text">Kids Club.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal bd-example-modal-xl fade teensClub" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl" id="tamañoModal">
				<div class="modal-content">
					<div class="container-fluid">
						<img src="{% static "fairyfront/images/kidsclubeventos.jpeg" %}" class="img-fluid" alt=""/>
					</div>
				</div>
			</div>
		</div>
		<div class="modal bd-example-modal-xl fade talleres2" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl" id="tamañoModal">
				<div class="modal-content">
					<div class="container-fluid">
						<img src="{% static "fairyfront/images/kidsclubeventos.jpeg" %}" class="img-fluid" alt=""/>
					</div>
				</div>
			</div>
		</div>

		<div class="container servicios1">
			<div class="row">
				<div class="col">
					<div class="card colleftserv" style="width: 45rem;">
						<a><img class="card-img-top" data-toggle="modal" data-target=".teensClub" src="{% static "fairyfront/images/course-3.jpg" %}" alt="Card image cap"></a>
						<div class="card-body">
							<p class="card-text">Teens Club.</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card colleftserv" style="width: 45rem;">
						<a><img class="card-img-top" data-toggle="modal" data-target=".talleres2" src="{% static "fairyfront/images/course-4.jpg" %}" alt="Card image cap"></a>
						<div class="card-body">
							<p class="card-text">Talleres y Actividades Especiales.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container serviciosfw">
			<div class="row justify-content-center">
				<img src="{% static "fairyfront/images/logofw1.png" %}" class="col-md-8 rounded mx-auto d-block" alt="...">
			</div>
		</div>

		<div class="modal bd-example-modal-xl fade " tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl" id="tamañoModal">
				<div class="modal-content">
					<div class="container-fluid">
						<img src="{% static "fairyfront/images/kidsclubeventos.jpeg" %}" class="img-fluid" alt=""/>
					</div>
				</div>
			</div>
		</div>
		<div class="modal bd-example-modal-xl fade " tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl" id="tamañoModal">
				<div class="modal-content">
					<div class="container-fluid">
						<img src="{% static "fairyfront/images/kidsclubeventos.jpeg" %}" class="img-fluid" alt=""/>
					</div>
				</div>
			</div>
		</div>

		<div class="container servicios2">
			<div class="row">
				<div class="col">
					<div class="card colleftserv" style="width: 45rem;">
						<a><img class="card-img-top" data-toggle="modal" data-target="." src="{% static "fairyfront/images/course-5.jpg" %}" alt="Card image cap"></a>
						<div class="card-body">
							<p class="card-text">Flyer.</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card colleftserv" style="width: 45rem;">
						<a><img class="card-img-top" data-toggle="modal" data-target="." src="{% static "fairyfront/images/course-6.jpg" %}" alt="Card image cap"></a>
						<div class="card-body">
							<p class="card-text">Tabla de Precios.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal bd-example-modal-xl fade " tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl" id="tamañoModal">
				<div class="modal-content">
					<div class="container-fluid">
						<img src="{% static "fairyfront/images/kidsclubeventos.jpeg" %}" class="img-fluid" alt=""/>
					</div>
				</div>
			</div>
		</div>
		<div class="modal bd-example-modal-xl fade " tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl" id="tamañoModal">
				<div class="modal-content">
					<div class="container-fluid">
						<img src="{% static "fairyfront/images/kidsclubeventos.jpeg" %}" class="img-fluid" alt=""/>
					</div>
				</div>
			</div>
		</div>

		<div class="container servicios2">
			<div class="row">
				<div class="col">
					<div class="card colleftserv" style="width: 45rem;">
						<a><img class="card-img-top" data-toggle="modal" data-target="." src="{% static "fairyfront/images/course-5.jpg" %}" alt="Card image cap"></a>
						<div class="card-body">
							<p class="card-text">Fiesta World.</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card colleftserv" style="width: 45rem;">
						<a><img class="card-img-top" data-toggle="modal" data-target="." src="{% static "fairyfront/images/course-6.jpg" %}" alt="Card image cap"></a>
						<div class="card-body">
							<p class="card-text">Fiesta Gread World.</p>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="container serviciosfn" id="nannys">
			<div class="jumbotron">
				<h1>Nannies</h1>
				<p> No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum</p>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-sm">
					<div class="embed-responsive embed-responsive-4by3">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/99IHvQy6z5M?autoplay=0"></iframe>
					</div>
				</div>
				<div class="col-sm">
					<div class="embed-responsive embed-responsive-4by3">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/99IHvQy6z5M?autoplay=0"></iframe>
					</div>
				</div>
				<div class="col-sm">
					<div class="embed-responsive embed-responsive-4by3">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/99IHvQy6z5M?autoplay=0"></iframe>
					</div>
				</div>
			</div>
		</div>

		<div class="container footer" id="contacto">
		<h1 class="text-center">Informacion de Contacto</h1>
		<hr>
			<div class="row">
				<div class="col-sm-8">
					<iframe src="https://maps.google.com/maps?width=100%&height=600&hl=es&q=fairy%20world%2C%20merida+(kids%20club)&ie=UTF8&t=&z=16&iwloc=B&output=embed" width="100%" height="320" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>

				<div class="col-sm-4" id="contact2">
					<h2>Contacto</h2>
					<hr align="left" width="50%">
					<h4 class="pt-2">Kids Club</h4>
					<i class="fas fa-globe" style="color:#000"></i> Nombre<br>
					<i class="fas fa-phone" style="color:#000"></i> <a href="tel:+"> Marina Correa </a><br>
					<h4 class="pt-2">whatsapp</h4>
					<i class="fab fa-whatsapp" style="color:#000"></i><a href="tel:+"> +52 1 999 956 8503 </a><br>
					<h4 class="pt-2">Correo de Contacto</h4>
					<i class="fa fa-envelope" style="color:#000"></i> <a href="">direccion@fairynanny.mx</a><br>
				</div>
			</div>
		</div>

	    <!-- Optional JavaScript -->
	    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script>
		$(document).ready(function(){
			$('.dropdown-submenu a.test').on("click", function(e){
				$(this).next('ul').toggle();
				e.stopPropagation();
				e.preventDefault();
			});
		});
		</script>
		<script>
		$('#myModal').on('shown.bs.modal', function () {
			$('#myInput').trigger('focus')
		})
		</script>
	</div>
  </body>
</html>
