{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'fairyfront/css/style.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <title>Fairy Nanny</title>
  </head>
  <body>
	  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark static-top">
    <div class="container">
		<a class="navbar-brand" href="#">
    	<img class="logofn1" src="{% static "fairyfront/images/logofn1.jpg" %}" alt="Logo Fairy Nanny">
      </a>
  	  <ul class="nav nav-tabs">
	  <li class="nav-item">
	    <a class="nav-link " href="#">Quienes Somos</a>
	  </li>
	  <div class="dropdown">
		  <button class="nav-link servicios" type="button" data-toggle="dropdown">Servicios
		  <span class="caret"></span></button>
		  <ul class="dropdown-menu">
		    	<li class="dropdown-submenu">
		      <a class="test" tabindex="-1" href="#">Agencia de Niñeras <span class="caret"></span></a>
		      <ul class="dropdown-menu">
				<li class="dropdown-submenu">
				  <a class="test" href="#">Casa <span class="caret"></span></a>
				  	<ul class="dropdown-menu">
				    <li><a href="#">Fijo</a></li>
				    <li><a href="#">Temporal</a></li>
				  </ul>
				</li>
		        <li><a tabindex="-1" href="#">Visita</a></li>
		        <li><a tabindex="-1" href="#">Fiesta</a></li>
		      </ul>
		    </li>
		  </ul>
		</div>
	    <li class="nav-item nav nav-tabs">
	      <a class="nav-link" href="#">Nannies</a>
	    </li>
		<li class="nav-item nav nav-tabs">
		  <a class="nav-link" href="#">Contacto</a>
		</li>
		<a class="navbar-brand" href="#">
      	<img class="logofw1" src="{% static "fairyfront/images/logofw1.png" %}" alt="Logo Fairy World">
        </a>
	  </ul>
      </div>
    </div>
  </nav>

  <!--Carousel Wrapper-->
	<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
	  <!--Indicators-->
	  <ol class="carousel-indicators">
	    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
	    <li data-target="#carousel-example-2" data-slide-to="1"></li>
	    <li data-target="#carousel-example-2" data-slide-to="2"></li>
	  </ol>
	  <!--/.Indicators-->
	  <!--Slides-->
	  <div class="carousel-inner" role="listbox">
	    <div class="carousel-item active">
	      <div class="view">
	        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg"
	          alt="First slide">
	        <div class="mask rgba-black-light"></div>
	      </div>
	      <div class="carousel-caption">
	        <h3 class="h3-responsive">Light mask</h3>
	        <p>First text</p>
	      </div>
	    </div>
	    <div class="carousel-item">
	      <!--Mask color-->
	      <div class="view">
	        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg"
	          alt="Second slide">
	        <div class="mask rgba-black-strong"></div>
	      </div>
	      <div class="carousel-caption">
	        <h3 class="h3-responsive">Strong mask</h3>
	        <p>Secondary text</p>
	      </div>
	    </div>
	    <div class="carousel-item">
	      <!--Mask color-->
	      <div class="view">
	        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg"
	          alt="Third slide">
	        <div class="mask rgba-black-slight"></div>
	      </div>
	      <div class="carousel-caption">
	        <h3 class="h3-responsive">Slight mask</h3>
	        <p>Third text</p>
	      </div>
	    </div>
	  </div>
	  <!--/.Slides-->
	  <!--Controls-->
	  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
	    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	  <!--/.Controls-->
	</div>
	<!--/.Carousel Wrapper-->
	<div class="row howweareblock">
	  <div class="col-sm-8">
		<h1 class="text-center">Quienes Somos</h1>
		<p class="text-justify text-right">es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum</p>
	  </div>
	  <div class="col-sm-4">
		<img class="roundedimg" src="{% static "fairyfront/images/bg_1.jpg" %}" class="rounded-circle" alt="Cinque Terre">
	  </div>
	</div>

	<div class="container servicioscontainer">
		<div class="jumbotron">
			<h1>Servicios</h1>
			<p> No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum</p>
		</div>
		<img src="{% static "fairyfront/images/logofn1.jpg" %}" class="img-thumbnail rounded mx-auto d-block" alt="...">
	</div>

	<div class="container servicios1">
		<div class="row">
			<div class="col">
				<div class="card colleftserv" style="width: 45rem;">
					<img class="card-img-top" src="{% static "fairyfront/images/course-1.jpg" %}" alt="Card image cap">
					<div class="card-body">
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card colleftserv" style="width: 45rem;">
					<img class="card-img-top" src="{% static "fairyfront/images/course-2.jpg" %}" alt="Card image cap">
					<div class="card-body">
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container servicios1">
		<div class="row">
			<div class="col">
				<div class="card colleftserv" style="width: 45rem;">
					<img class="card-img-top" src="{% static "fairyfront/images/course-3.jpg" %}" alt="Card image cap">
					<div class="card-body">
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card colleftserv" style="width: 45rem;">
					<img class="card-img-top" src="{% static "fairyfront/images/course-4.jpg" %}" alt="Card image cap">
					<div class="card-body">
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script>
	$(document).ready(function(){
	  $('.dropdown-submenu a.test').on("click", function(e){
	    $(this).next('ul').toggle();
	    e.stopPropagation();
	    e.preventDefault();
	  });
	});
	</script>
  </body>
</html>
