.logofn1{
	max-height: 350%;
	width: auto;
	margin-right: 0px;
}

.logofw1{
	height: 350%;
	width: auto;
}

.roundedimg {
	max-width: 50%;
	border-radius: 50%;
}

.navbar {
	margin: 0;
	padding: 0;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

.carousel {
	padding-top: 20px;
}

.servicios1 {
	padding-top: 10px;
}

.colleftserv {
	margin-left: 60px;
}

.howweareblock {
	padding-bottom: 10px;
	border-bottom: solid;
	border-bottom-style: dashed;
	border-bottom-color: #AC7498;
}

.servicioscontainer {
	padding-top: 15px;
}
